### URBAN AIR POLLUTION CHALLENGE

In [1]:
# import the libraries
import pandas as pd
import sklearn
import scipy
import matplotlib.pyplot as plt
import matplotlib
import numpy as np

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")
sample = pd.read_csv("SampleSubmission.csv")

In [3]:
display(train.head())

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,49.839714,-78.342701,34.296977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,29.181258,-73.896588,30.545446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0.797294,-68.612480,26.899694,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
display(test.head())

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,...,1.445658,-95.984984,22.942019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,...,34.641758,-95.014908,18.539116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,...,55.872276,-94.015418,14.140820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,...,59.174188,-97.247602,32.730553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,...,40.925873,-96.057265,28.320527,1831.261597,3229.118652,0.031068,-100.278343,41.84708,-95.910744,28.498789

In [5]:
display(sample)

            Place_ID X Date  target
0      0OS9LVX X 2020-01-02       0
1      0OS9LVX X 2020-01-03       0
2      0OS9LVX X 2020-01-04       0
3      0OS9LVX X 2020-01-05       0
4      0OS9LVX X 2020-01-06       0
...                     ...     ...
16131  ZZDJZMS X 2020-03-31       0
16132  ZZDJZMS X 2020-04-01       0
16133  ZZDJZMS X 2020-04-02       0
16134  ZZDJZMS X 2020-04-03       0
16135  ZZDJZMS X 2020-04-04       0

[16136 rows x 2 columns]

In [6]:
train.shape

(30557, 82)

In [7]:
test.shape

(16136, 77)

In [13]:
train.isnull().sum()

Place_ID X Date                     0
Date                                0
Place_ID                            0
target                              0
target_min                          0
                                ...
L3_CH4_aerosol_optical_depth    24765
L3_CH4_sensor_azimuth_angle     24765
L3_CH4_sensor_zenith_angle      24765
L3_CH4_solar_azimuth_angle      24765
L3_CH4_solar_zenith_angle       24765
Length: 82, dtype: int64

In [14]:
train.columns

Index(['Place_ID X Date', 'Date', 'Place_ID', 'target', 'target_min',
       'target_max', 'target_variance', 'target_count',
       'precipitable_water_entire_atmosphere',
       'relative_humidity_2m_above_ground',
       'specific_humidity_2m_above_ground', 'temperature_2m_above_ground',
       'u_component_of_wind_10m_above_ground',
       'v_component_of_wind_10m_above_ground',
       'L3_NO2_NO2_column_number_density',
       'L3_NO2_NO2_slant_column_number_density',
       'L3_NO2_absorbing_aerosol_index', 'L3_NO2_cloud_fraction',
       'L3_NO2_sensor_altitude', 'L3_NO2_sensor_azimuth_angle',
       'L3_NO2_sensor_zenith_angle', 'L3_NO2_solar_azimuth_angle',
       'L3_NO2_solar_zenith_angle',
       'L3_NO2_stratospheric_NO2_column_number_density',
       'L3_NO2_tropopause_pressure',
       'L3_NO2_tropospheric_NO2_column_number_density',
       'L3_O3_O3_column_number_density', 'L3_O3_O3_effective_temperature',
       'L3_O3_cloud_fraction', 'L3_O3_sensor_azimuth_angle',
       'L3_O3_sensor_zenith_angle', 'L3_O3_solar_azimuth_angle',
       'L3_O3_solar_zenith_angle', 'L3_CO_CO_column_number_density',
       'L3_CO_H2O_column_number_density', 'L3_CO_cloud_height',
       'L3_CO_sensor_altitude', 'L3_CO_sensor_azimuth_angle',
       'L3_CO_sensor_zenith_angle', 'L3_CO_solar_azimuth_angle',
       'L3_CO_solar_zenith_angle', 'L3_HCHO_HCHO_slant_column_number_density',
       'L3_HCHO_cloud_fraction', 'L3_HCHO_sensor_azimuth_angle',
       'L3_HCHO_sensor_zenith_angle', 'L3_HCHO_solar_azimuth_angle',
       'L3_HCHO_solar_zenith_angle',
       'L3_HCHO_tropospheric_HCHO_column_number_density',
       'L3_HCHO_tropospheric_HCHO_column_number_density_amf',
       'L3_CLOUD_cloud_base_height', 'L3_CLOUD_cloud_base_pressure',
       'L3_CLOUD_cloud_fraction', 'L3_CLOUD_cloud_optical_depth',
       'L3_CLOUD_cloud_top_height', 'L3_CLOUD_cloud_top_pressure',
       'L3_CLOUD_sensor_azimuth_angle', 'L3_CLOUD_sensor_zenith_angle',
       'L3_CLOUD_solar_azimuth_angle', 'L3_CLOUD_solar_zenith_angle',
       'L3_CLOUD_surface_albedo', 'L3_AER_AI_absorbing_aerosol_index',
       'L3_AER_AI_sensor_altitude', 'L3_AER_AI_sensor_azimuth_angle',
       'L3_AER_AI_sensor_zenith_angle', 'L3_AER_AI_solar_azimuth_angle',
       'L3_AER_AI_solar_zenith_angle', 'L3_SO2_SO2_column_number_density',
       'L3_SO2_SO2_column_number_density_amf',
       'L3_SO2_SO2_slant_column_number_density',
       'L3_SO2_absorbing_aerosol_index', 'L3_SO2_cloud_fraction',
       'L3_SO2_sensor_azimuth_angle', 'L3_SO2_sensor_zenith_angle',
       'L3_SO2_solar_azimuth_angle', 'L3_SO2_solar_zenith_angle',
       'L3_CH4_CH4_column_volume_mixing_ratio_dry_air',
       'L3_CH4_aerosol_height', 'L3_CH4_aerosol_optical_depth',
       'L3_CH4_sensor_azimuth_angle', 'L3_CH4_sensor_zenith_angle',
       'L3_CH4_solar_azimuth_angle', 'L3_CH4_solar_zenith_angle'],
      dtype='object')

Since we hae null data points in som,e columns of the data, we replace the null points with the mean of their respective features

In [29]:
features = train.loc[:, 'target_max':'L3_NO2_NO2_column_number_density']

In [30]:
features.isnull().sum()

target_max                              0
target_variance                         0
target_count                            0
precipitable_water_entire_atmosphere    0
relative_humidity_2m_above_ground       0
specific_humidity_2m_above_ground       0
temperature_2m_above_ground             0
u_component_of_wind_10m_above_ground    0
v_component_of_wind_10m_above_ground    0
L3_NO2_NO2_column_number_density        0
dtype: int64

In [23]:
train['L3_NO2_NO2_column_number_density'] = train['L3_NO2_NO2_column_number_density'].fillna(train['L3_NO2_NO2_column_number_density'].mean())

In [32]:
features_1 = train.loc[:, 'L3_NO2_NO2_slant_column_number_density':'L3_HCHO_sensor_zenith_angle']

In [34]:
features_1.isnull().sum()

L3_NO2_NO2_slant_column_number_density            2189
L3_NO2_absorbing_aerosol_index                    2189
L3_NO2_cloud_fraction                             2189
L3_NO2_sensor_altitude                            2189
L3_NO2_sensor_azimuth_angle                       2190
L3_NO2_sensor_zenith_angle                        2190
L3_NO2_solar_azimuth_angle                        2190
L3_NO2_solar_zenith_angle                         2190
L3_NO2_stratospheric_NO2_column_number_density    2190
L3_NO2_tropopause_pressure                        2190
L3_NO2_tropospheric_NO2_column_number_density     8669
L3_O3_O3_column_number_density                     283
L3_O3_O3_effective_temperature                     283
L3_O3_cloud_fraction                               283
L3_O3_sensor_azimuth_angle                         283
L3_O3_sensor_zenith_angle                          283
L3_O3_solar_azimuth_angle                          283
L3_O3_solar_zenith_angle                           283
L3_CO_CO_column_number_density                    5423
L3_CO_H2O_column_number_density                   5423
L3_CO_cloud_height                                5423
L3_CO_sensor_altitude                             5423
L3_CO_sensor_azimuth_angle                        5423
L3_CO_sensor_zenith_angle                         5423
L3_CO_solar_azimuth_angle                         5423
L3_CO_solar_zenith_angle                          5423
L3_HCHO_HCHO_slant_column_number_density          7425
L3_HCHO_cloud_fraction                            7425
L3_HCHO_sensor_azimuth_angle                      7425
L3_HCHO_sensor_zenith_angle                       7425
dtype: int64

In [36]:
features_1 = features_1.fillna(features_1.mean())

In [37]:
features_1.isnull().sum()

L3_NO2_NO2_slant_column_number_density            0
L3_NO2_absorbing_aerosol_index                    0
L3_NO2_cloud_fraction                             0
L3_NO2_sensor_altitude                            0
L3_NO2_sensor_azimuth_angle                       0
L3_NO2_sensor_zenith_angle                        0
L3_NO2_solar_azimuth_angle                        0
L3_NO2_solar_zenith_angle                         0
L3_NO2_stratospheric_NO2_column_number_density    0
L3_NO2_tropopause_pressure                        0
L3_NO2_tropospheric_NO2_column_number_density     0
L3_O3_O3_column_number_density                    0
L3_O3_O3_effective_temperature                    0
L3_O3_cloud_fraction                              0
L3_O3_sensor_azimuth_angle                        0
L3_O3_sensor_zenith_angle                         0
L3_O3_solar_azimuth_angle                         0
L3_O3_solar_zenith_angle                          0
L3_CO_CO_column_number_density                    0
L3_CO_H2O_column_number_density                   0
L3_CO_cloud_height                                0
L3_CO_sensor_altitude                             0
L3_CO_sensor_azimuth_angle                        0
L3_CO_sensor_zenith_angle                         0
L3_CO_solar_azimuth_angle                         0
L3_CO_solar_zenith_angle                          0
L3_HCHO_HCHO_slant_column_number_density          0
L3_HCHO_cloud_fraction                            0
L3_HCHO_sensor_azimuth_angle                      0
L3_HCHO_sensor_zenith_angle                       0
dtype: int64

In [38]:
features_2 = train.loc[:, 'L3_HCHO_solar_azimuth_angle':'L3_CH4_solar_zenith_angle']

In [39]:
features_2.isnull().sum()

L3_HCHO_solar_azimuth_angle                             7425
L3_HCHO_solar_zenith_angle                              7425
L3_HCHO_tropospheric_HCHO_column_number_density         7425
L3_HCHO_tropospheric_HCHO_column_number_density_amf     7425
L3_CLOUD_cloud_base_height                              1522
L3_CLOUD_cloud_base_pressure                            1522
L3_CLOUD_cloud_fraction                                  374
L3_CLOUD_cloud_optical_depth                            1522
L3_CLOUD_cloud_top_height                               1522
L3_CLOUD_cloud_top_pressure                             1522
L3_CLOUD_sensor_azimuth_angle                            374
L3_CLOUD_sensor_zenith_angle                             374
L3_CLOUD_solar_azimuth_angle                             374
L3_CLOUD_solar_zenith_angle                              374
L3_CLOUD_surface_albedo                                 1522
L3_AER_AI_absorbing_aerosol_index                        197
L3_AER_AI_sensor_altitude                                197
L3_AER_AI_sensor_azimuth_angle                           197
L3_AER_AI_sensor_zenith_angle                            197
L3_AER_AI_solar_azimuth_angle                            197
L3_AER_AI_solar_zenith_angle                             197
L3_SO2_SO2_column_number_density                        7237
L3_SO2_SO2_column_number_density_amf                    7237
L3_SO2_SO2_slant_column_number_density                  7237
L3_SO2_absorbing_aerosol_index                          7308
L3_SO2_cloud_fraction                                   7237
L3_SO2_sensor_azimuth_angle                             7237
L3_SO2_sensor_zenith_angle                              7237
L3_SO2_solar_azimuth_angle                              7237
L3_SO2_solar_zenith_angle                               7237
L3_CH4_CH4_column_volume_mixing_ratio_dry_air          24765
L3_CH4_aerosol_height                                  24765
L3_CH4_aerosol_optical_depth                           24765
L3_CH4_sensor_azimuth_angle                            24765
L3_CH4_sensor_zenith_angle                             24765
L3_CH4_solar_azimuth_angle                             24765
L3_CH4_solar_zenith_angle                              24765
dtype: int64

In [40]:
features_2 = features_2.fillna(features_2.mean())

In [42]:
features_2.isnull().sum()

L3_HCHO_solar_azimuth_angle                            0
L3_HCHO_solar_zenith_angle                             0
L3_HCHO_tropospheric_HCHO_column_number_density        0
L3_HCHO_tropospheric_HCHO_column_number_density_amf    0
L3_CLOUD_cloud_base_height                             0
L3_CLOUD_cloud_base_pressure                           0
L3_CLOUD_cloud_fraction                                0
L3_CLOUD_cloud_optical_depth                           0
L3_CLOUD_cloud_top_height                              0
L3_CLOUD_cloud_top_pressure                            0
L3_CLOUD_sensor_azimuth_angle                          0
L3_CLOUD_sensor_zenith_angle                           0
L3_CLOUD_solar_azimuth_angle                           0
L3_CLOUD_solar_zenith_angle                            0
L3_CLOUD_surface_albedo                                0
L3_AER_AI_absorbing_aerosol_index                      0
L3_AER_AI_sensor_altitude                              0
L3_AER_AI_sensor_azimuth_angle                         0
L3_AER_AI_sensor_zenith_angle                          0
L3_AER_AI_solar_azimuth_angle                          0
L3_AER_AI_solar_zenith_angle                           0
L3_SO2_SO2_column_number_density                       0
L3_SO2_SO2_column_number_density_amf                   0
L3_SO2_SO2_slant_column_number_density                 0
L3_SO2_absorbing_aerosol_index                         0
L3_SO2_cloud_fraction                                  0
L3_SO2_sensor_azimuth_angle                            0
L3_SO2_sensor_zenith_angle                             0
L3_SO2_solar_azimuth_angle                             0
L3_SO2_solar_zenith_angle                              0
L3_CH4_CH4_column_volume_mixing_ratio_dry_air          0
L3_CH4_aerosol_height                                  0
L3_CH4_aerosol_optical_depth                           0
L3_CH4_sensor_azimuth_angle                            0
L3_CH4_sensor_zenith_angle                             0
L3_CH4_solar_azimuth_angle                             0
L3_CH4_solar_zenith_angle                              0
dtype: int64

In [43]:
train.isnull().sum()

Place_ID X Date                     0
Date                                0
Place_ID                            0
target                              0
target_min                          0
                                ...
L3_CH4_aerosol_optical_depth    24765
L3_CH4_sensor_azimuth_angle     24765
L3_CH4_sensor_zenith_angle      24765
L3_CH4_solar_azimuth_angle      24765
L3_CH4_solar_zenith_angle       24765
Length: 82, dtype: int64

In [45]:
train = train.loc[:, 'Place_ID X Date':'L3_CH4_solar_zenith_angle']

In [47]:
train = train.fillna(train.mean())

In [48]:
train.isnull().sum()

Place_ID X Date                 0
Date                            0
Place_ID                        0
target                          0
target_min                      0
                               ..
L3_CH4_aerosol_optical_depth    0
L3_CH4_sensor_azimuth_angle     0
L3_CH4_sensor_zenith_angle      0
L3_CH4_solar_azimuth_angle      0
L3_CH4_solar_zenith_angle       0
Length: 82, dtype: int64

In [49]:
display(train.head())

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,49.839714,-78.342701,34.296977,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,29.181258,-73.896588,30.545446,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0.797294,-68.612480,26.899694,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630

In [58]:
train.set_index('Place_ID X Date', inplace=True)

In [59]:
display(train.head())

,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,0.00804,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,0.00839,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,0.00750,...,49.839714,-78.342701,34.296977,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630
010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,0.00391,...,29.181258,-73.896588,30.545446,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630
010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,0.00535,...,0.797294,-68.612480,26.899694,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630

In [64]:
train['Date'] = pd.to_datetime(train['Date'])
train['weekday'] = train['Date'].dt.weekday.astype(str)
train['year'] = train['Date'].dt.year
train['month'] = train['Date'].dt.month.astype(str)

In [65]:
train.drop('Date', inplace=True, axis=1)

In [66]:
display(train.head())

,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,...,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,weekday,year,month
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
010Q650 X 2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,0.00804,18.516840,...,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118,3,2020,1
010Q650 X 2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,0.00839,22.546533,...,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652,4,2020,1
010Q650 X 2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,0.00750,27.031030,...,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630,5,2020,1
010Q650 X 2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,0.00391,23.971857,...,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630,6,2020,1
010Q650 X 2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,0.00535,16.816309,...,923.231949,1711.793613,0.016227,1.254703,13.849040,-69.098594,23.100630,0,2020,1

In [67]:
train['year'] = train['year'].astype(str)
train['month'] = train['month'].astype(str)
train['weekday'] = train['month'].astype(str)

In [70]:
train = pd.get_dummies(train, columns=['weekday', 'year', 'month'])

In [77]:
display(train.head())

,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,...,L3_CH4_solar_zenith_angle,weekday_1,weekday_2,weekday_3,weekday_4,year_2020,month_1,month_2,month_3,month_4
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
010Q650 X 2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,0.00804,18.516840,...,22.545118,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,0.00839,22.546533,...,19.293652,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,0.00750,27.031030,...,23.100630,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,0.00391,23.971857,...,23.100630,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,0.00535,16.816309,...,23.100630,1,0,0,0,1,1,0,0,0

In [78]:
train['Place_ID'].value_counts()

0PP73FZ    94
C8ZQ12G    94
MUJVVNA    94
SA4513B    94
73GXFXK    94
           ..
LKE9VQB    41
S91MBTB    29
6KAHP8X    12
MJSB8K5     7
5IUK9TG     3
Name: Place_ID, Length: 340, dtype: int64

In [79]:
train.drop('Place_ID', axis=1, inplace=True)

In [85]:
display(train.head())

,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,...,L3_CH4_solar_zenith_angle,weekday_1,weekday_2,weekday_3,weekday_4,year_2020,month_1,month_2,month_3,month_4
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
010Q650 X 2020-01-02,38.0,23.0,53.0,769.50,92,11.000000,60.200001,0.00804,18.516840,1.996377,...,22.545118,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-03,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,0.00839,22.546533,3.330430,...,19.293652,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-04,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,0.00750,27.031030,5.065727,...,23.100630,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-05,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,0.00391,23.971857,3.004001,...,23.100630,1,0,0,0,1,1,0,0,0
010Q650 X 2020-01-06,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,0.00535,16.816309,2.621787,...,23.100630,1,0,0,0,1,1,0,0,0

In [87]:
# Extract Numpy arrays
features = train.loc[:, 'target_min':'month_4']

In [89]:
X = features.values
y = train['target'].values

In [103]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2505)

# scale the data
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X_train, y_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# import the model
from sklearn.ensemble import GradientBoostingRegressor
gbrt = GradientBoostingRegressor(random_state=0, max_depth=1).fit(X_train_scaled, y_train)

In [104]:
gbrt.score(X_test_scaled, y_test)

0.8438114987556691

In [105]:
y_pred = gbrt.predict(X_test_scaled)

In [106]:
from sklearn.metrics import mean_squared_error
from scipy.stats import pearsonr
import numpy as np
print ("rmse on test is %f " %(np.sqrt(mean_squared_error(y_test,y_pred))))

rmse on test is 18.729760

In [107]:
display(test.head())

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,...,1.445658,-95.984984,22.942019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,...,34.641758,-95.014908,18.539116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,...,55.872276,-94.015418,14.140820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,...,59.174188,-97.247602,32.730553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,...,40.925873,-96.057265,28.320527,1831.261597,3229.118652,0.031068,-100.278343,41.84708,-95.910744,28.498789

In [108]:
test.isnull().sum()

Place_ID X Date                             0
Date                                        0
Place_ID                                    0
precipitable_water_entire_atmosphere        0
relative_humidity_2m_above_ground           0
                                        ...
L3_CH4_aerosol_optical_depth            13021
L3_CH4_sensor_azimuth_angle             13021
L3_CH4_sensor_zenith_angle              13021
L3_CH4_solar_azimuth_angle              13021
L3_CH4_solar_zenith_angle               13021
Length: 77, dtype: int64

In [109]:
test = test.fillna(test.mean())

In [110]:
test.isnull().sum()

Place_ID X Date                         0
Date                                    0
Place_ID                                0
precipitable_water_entire_atmosphere    0
relative_humidity_2m_above_ground       0
                                       ..
L3_CH4_aerosol_optical_depth            0
L3_CH4_sensor_azimuth_angle             0
L3_CH4_sensor_zenith_angle              0
L3_CH4_solar_azimuth_angle              0
L3_CH4_solar_zenith_angle               0
Length: 77, dtype: int64

In [111]:
test.set_index('Place_ID X Date', inplace=True)

In [113]:
test['Date'] = pd.to_datetime(test['Date'])
test['weekday'] = test['Date'].dt.weekday.astype(str)
test['year'] = test['Date'].dt.year
test['month'] = test['Date'].dt.month.astype(str)

In [114]:
test = pd.get_dummies(test, columns=['weekday', 'year', 'month'])

In [115]:
display(test.head())

,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,...,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,year_2020,month_1,month_2,month_3,month_4
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,0.000108,...,0,1,0,0,0,1,1,0,0,0
0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,0.000109,...,0,0,1,0,0,1,1,0,0,0
0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,0.000134,...,0,0,0,1,0,1,1,0,0,0
0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,0.000155,...,0,0,0,0,1,1,1,0,0,0
0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,0.000131,...,0,0,0,0,0,1,1,0,0,0

In [117]:
test.drop('Date', inplace=True, axis=1)

In [118]:
test.drop('Place_ID', axis=1, inplace=True)

In [119]:
display(test.head())

,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,L3_NO2_absorbing_aerosol_index,L3_NO2_cloud_fraction,...,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,year_2020,month_1,month_2,month_3,month_4
Place_ID X Date,,,,,,,,,,,,,,,,,,,,,
0OS9LVX X 2020-01-02,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,0.000108,0.466171,0.010752,...,0,1,0,0,0,1,1,0,0,0
0OS9LVX X 2020-01-03,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,0.000109,-0.213659,0.028307,...,0,0,1,0,0,1,1,0,0,0
0OS9LVX X 2020-01-04,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,0.000134,-0.254250,0.010374,...,0,0,0,1,0,1,1,0,0,0
0OS9LVX X 2020-01-05,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,0.000155,-0.268490,0.088795,...,0,0,0,0,1,1,1,0,0,0
0OS9LVX X 2020-01-06,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,0.000131,0.460720,0.041197,...,0,0,0,0,0,1,1,0,0,0

In [129]:
# Extract Numpy arrays
features_t = test.loc[:, 'precipitable_water_entire_atmosphere':'month_4']

In [124]:
test_set = features_t.values

In [125]:
test_set.shape

(16136, 86)

In [131]:
X.shape

(30557, 87)

In [133]:
test.columns

Index(['precipitable_water_entire_atmosphere',
       'relative_humidity_2m_above_ground',
       'specific_humidity_2m_above_ground', 'temperature_2m_above_ground',
       'u_component_of_wind_10m_above_ground',
       'v_component_of_wind_10m_above_ground',
       'L3_NO2_NO2_column_number_density',
       'L3_NO2_NO2_slant_column_number_density',
       'L3_NO2_absorbing_aerosol_index', 'L3_NO2_cloud_fraction',
       'L3_NO2_sensor_altitude', 'L3_NO2_sensor_azimuth_angle',
       'L3_NO2_sensor_zenith_angle', 'L3_NO2_solar_azimuth_angle',
       'L3_NO2_solar_zenith_angle',
       'L3_NO2_stratospheric_NO2_column_number_density',
       'L3_NO2_tropopause_pressure',
       'L3_NO2_tropospheric_NO2_column_number_density',
       'L3_O3_O3_column_number_density', 'L3_O3_O3_effective_temperature',
       'L3_O3_cloud_fraction', 'L3_O3_sensor_azimuth_angle',
       'L3_O3_sensor_zenith_angle', 'L3_O3_solar_azimuth_angle',
       'L3_O3_solar_zenith_angle', 'L3_CO_CO_column_number_density',
       'L3_CO_H2O_column_number_density', 'L3_CO_cloud_height',
       'L3_CO_sensor_altitude', 'L3_CO_sensor_azimuth_angle',
       'L3_CO_sensor_zenith_angle', 'L3_CO_solar_azimuth_angle',
       'L3_CO_solar_zenith_angle', 'L3_HCHO_HCHO_slant_column_number_density',
       'L3_HCHO_cloud_fraction', 'L3_HCHO_sensor_azimuth_angle',
       'L3_HCHO_sensor_zenith_angle', 'L3_HCHO_solar_azimuth_angle',
       'L3_HCHO_solar_zenith_angle',
       'L3_HCHO_tropospheric_HCHO_column_number_density',
       'L3_HCHO_tropospheric_HCHO_column_number_density_amf',
       'L3_CLOUD_cloud_base_height', 'L3_CLOUD_cloud_base_pressure',
       'L3_CLOUD_cloud_fraction', 'L3_CLOUD_cloud_optical_depth',
       'L3_CLOUD_cloud_top_height', 'L3_CLOUD_cloud_top_pressure',
       'L3_CLOUD_sensor_azimuth_angle', 'L3_CLOUD_sensor_zenith_angle',
       'L3_CLOUD_solar_azimuth_angle', 'L3_CLOUD_solar_zenith_angle',
       'L3_CLOUD_surface_albedo', 'L3_AER_AI_absorbing_aerosol_index',
       'L3_AER_AI_sensor_altitude', 'L3_AER_AI_sensor_azimuth_angle',
       'L3_AER_AI_sensor_zenith_angle', 'L3_AER_AI_solar_azimuth_angle',
       'L3_AER_AI_solar_zenith_angle', 'L3_SO2_SO2_column_number_density',
       'L3_SO2_SO2_column_number_density_amf',
       'L3_SO2_SO2_slant_column_number_density',
       'L3_SO2_absorbing_aerosol_index', 'L3_SO2_cloud_fraction',
       'L3_SO2_sensor_azimuth_angle', 'L3_SO2_sensor_zenith_angle',
       'L3_SO2_solar_azimuth_angle', 'L3_SO2_solar_zenith_angle',
       'L3_CH4_CH4_column_volume_mixing_ratio_dry_air',
       'L3_CH4_aerosol_height', 'L3_CH4_aerosol_optical_depth',
       'L3_CH4_sensor_azimuth_angle', 'L3_CH4_sensor_zenith_angle',
       'L3_CH4_solar_azimuth_angle', 'L3_CH4_solar_zenith_angle', 'weekday_0',
       'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5',
       'weekday_6', 'year_2020', 'month_1', 'month_2', 'month_3', 'month_4'],
      dtype='object')

In [137]:
test.columns

Index(['precipitable_water_entire_atmosphere',
       'relative_humidity_2m_above_ground',
       'specific_humidity_2m_above_ground', 'temperature_2m_above_ground',
       'u_component_of_wind_10m_above_ground',
       'v_component_of_wind_10m_above_ground',
       'L3_NO2_NO2_column_number_density',
       'L3_NO2_NO2_slant_column_number_density',
       'L3_NO2_absorbing_aerosol_index', 'L3_NO2_cloud_fraction',
       'L3_NO2_sensor_altitude', 'L3_NO2_sensor_azimuth_angle',
       'L3_NO2_sensor_zenith_angle', 'L3_NO2_solar_azimuth_angle',
       'L3_NO2_solar_zenith_angle',
       'L3_NO2_stratospheric_NO2_column_number_density',
       'L3_NO2_tropopause_pressure',
       'L3_NO2_tropospheric_NO2_column_number_density',
       'L3_O3_O3_column_number_density', 'L3_O3_O3_effective_temperature',
       'L3_O3_cloud_fraction', 'L3_O3_sensor_azimuth_angle',
       'L3_O3_sensor_zenith_angle', 'L3_O3_solar_azimuth_angle',
       'L3_O3_solar_zenith_angle', 'L3_CO_CO_column_number_density',
       'L3_CO_H2O_column_number_density', 'L3_CO_cloud_height',
       'L3_CO_sensor_altitude', 'L3_CO_sensor_azimuth_angle',
       'L3_CO_sensor_zenith_angle', 'L3_CO_solar_azimuth_angle',
       'L3_CO_solar_zenith_angle', 'L3_HCHO_HCHO_slant_column_number_density',
       'L3_HCHO_cloud_fraction', 'L3_HCHO_sensor_azimuth_angle',
       'L3_HCHO_sensor_zenith_angle', 'L3_HCHO_solar_azimuth_angle',
       'L3_HCHO_solar_zenith_angle',
       'L3_HCHO_tropospheric_HCHO_column_number_density',
       'L3_HCHO_tropospheric_HCHO_column_number_density_amf',
       'L3_CLOUD_cloud_base_height', 'L3_CLOUD_cloud_base_pressure',
       'L3_CLOUD_cloud_fraction', 'L3_CLOUD_cloud_optical_depth',
       'L3_CLOUD_cloud_top_height', 'L3_CLOUD_cloud_top_pressure',
       'L3_CLOUD_sensor_azimuth_angle', 'L3_CLOUD_sensor_zenith_angle',
       'L3_CLOUD_solar_azimuth_angle', 'L3_CLOUD_solar_zenith_angle',
       'L3_CLOUD_surface_albedo', 'L3_AER_AI_absorbing_aerosol_index',
       'L3_AER_AI_sensor_altitude', 'L3_AER_AI_sensor_azimuth_angle',
       'L3_AER_AI_sensor_zenith_angle', 'L3_AER_AI_solar_azimuth_angle',
       'L3_AER_AI_solar_zenith_angle', 'L3_SO2_SO2_column_number_density',
       'L3_SO2_SO2_column_number_density_amf',
       'L3_SO2_SO2_slant_column_number_density',
       'L3_SO2_absorbing_aerosol_index', 'L3_SO2_cloud_fraction',
       'L3_SO2_sensor_azimuth_angle', 'L3_SO2_sensor_zenith_angle',
       'L3_SO2_solar_azimuth_angle', 'L3_SO2_solar_zenith_angle',
       'L3_CH4_CH4_column_volume_mixing_ratio_dry_air',
       'L3_CH4_aerosol_height', 'L3_CH4_aerosol_optical_depth',
       'L3_CH4_sensor_azimuth_angle', 'L3_CH4_sensor_zenith_angle',
       'L3_CH4_solar_azimuth_angle', 'L3_CH4_solar_zenith_angle', 'weekday_0',
       'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5',
       'weekday_6', 'year_2020', 'month_1', 'month_2', 'month_3', 'month_4'],
      dtype='object')